<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${baseDir}/logs/internal/internal.log"
      throwConfigExceptions="true">

  <variable name="line"
            value="------------------------------------------------------------------------------------------------------------------------" />
  <variable name="consoleLine"
            value="--------------------------------------" />
  <variable name="defaultHeader"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff K} | ${uppercase:${level}}${newline}" />
  <variable name="defaultException"
            value="${exception:format=tostring}${when:when=length('${exception:format=Data}')>0:Inner=${newline}${exception:format=Data:exceptionDataSeparator=\r\n}}${newline}${exception:format=TargetSite}${newline}${exception:format=Source}" />
  <variable name="logDirectory"
            value="${baseDir}/logs" />
  <variable name="defaultContent"
            value="${defaultHeader}${onexception:${defaultException}${newline:when='message'!=''}}${message:when='message'!=''}" />

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="ColoredConsole"
            name="traceConsole"
            layout="${consoleLine}${newline}${defaultContent}${newline}" />
    <target xsi:type="File"
            name="traceFile"
            fileName="${logDirectory}/trace-${date:format=yyyy-MM-dd}.log"
            layout="${line}${newline}${defaultContent}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/trace-archive/trace-{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
    <target xsi:type="File"
            name="errorsFile"
            fileName="${logDirectory}/errors-${date:format=yyyy-MM-dd}.log"
            layout="${line}${newline}${defaultContent}"
            archiveEvery="Day"
            archiveFileName="${logDirectory}/errors-archive/errors-{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="2097152" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="traceConsole" />
    <logger name="*" minlevel="Trace" writeTo="traceFile" enabled="false" />
    <logger name="*" minlevel="Warning" writeTo="errorsFile" />
  </rules>
</nlog>